@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap%27');

$primary-color: #000;
$background-color: rgb(63, 63, 63);
$secondary-color: rgb(255, 0, 0);
$text-color-standard: #fff;
$text-color-weak: rgb(173, 173, 173);
$grey-color: gray;


$font-text: "Roboto", serif;
$font-header: "Roboto", serif;