@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;700&display=swap');

$primary-color: #000;
$background-color: rgb(63, 63, 63);
$secondary-color: rgb(255, 0, 0);
$text-color-standard: #fff;
$text-color-weak: rgb(173, 173, 173);
$text-color-black: rgb(0, 0, 0);
$grey-color: gray;


$font-text: 'Roboto', sans-serif;
$font-header: 'Righteous', bold;